<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="这是我的">
    <test name="test1">
        <classes>
            <class name="com.tester.extend.demo.TestMethodDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <!--listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/-->
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"></listener>
    </listeners>
</suite>